%h1 Listing users

%table
  %tr
    %th Email
    %th Password digest
    %th Remember token
    %th Amount selling
    %th Username
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.password_digest
      %td= user.remember_token
      %td= user.amount_selling
      %td= user.username
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path

